# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Editors/IDEs
.idea/
.vscode/
*.code-workspace

# Logs and temp files
*.log
*.tmp
*.cache
*.DS_Store

# Training outputs
runs/
logs/

# Model artifacts
*.pt
*.onnx
*.engine
*.ncnn

# Checkpoints and datasets caches
*.ckpt
*.npz
*.out
*.csv
*.json
